<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Malign
             {% endblock %}
        </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/script.js' %}" defer></script>
    </head>
    <header>
        {% block content_of_header %}
        {% endblock %}
    </header>
    <body>
        <main>
         {% block content %}
             
         {% endblock %}
        </main>
    <footer id="dynamic-footer">
        &copy; 2024 Malign
    </footer>
    </body>
</html>