{% extends 'base.html' %}
{% load static %}
{% block content_of_header %}

    <div class="podcasts_header">
        <img  src="{% static 'logos/Malign_logo.png' %}" alt="No logo ;(" class="podcast_logo"/>
        <h1>Malign</h1>
        <div class="separator"></div>
        <h1>Log in</h1>
    </div>

{% endblock %}
{% block content %}
    <div class="login_form">
        <form method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Log In</button>
        </form>
        <p>Don't have an account? <a href="{% url 'creator_signup' %}">Creator</a> 
            <a href="{% url 'user_signup' %}">User</a>.</p>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>

{% endblock %}


