{% extends 'base.html' %}
{% load static %}
{% block content_of_header %}

    <div class="podcasts_header">
        <img  src="{% static 'logos/Malign_logo.png' %}" alt="No logo ;(" class="podcast_logo"/>
        <h1>Malign</h1>
        <div class="separator"></div>
        <h1>Check out our newest podcasts!</h1>
        <div class="separator"></div>
        <a href="{% url 'login' %}">Log in</a>
    </div>

{% endblock %}
{% block content %}

{% for post in posts %}
 {% include 'podcast_card.html' with post=post %}
{% endfor %}

{% endblock %}
