{% extends 'base.html' %}
{% load static %}
{% block title %}
Creator Dashboard
{% endblock %}
{% block content_of_header %}

    <div class="podcasts_header">
    <a href='/' class="podcast_logo">
        <img  src="{% static 'logos/Malign_logo.png' %}" alt="No logo ;(" class="podcast_logo"/>
    </a>
        <h1>Malign</h1>
        <div class="separator"></div>
        <h1>Dashboard of {{ user.username }}</h1>
    </div>

{% endblock %}
{% block content %}
    <article class="podcast-card">
    {% if user.avatar %}
        <img src="{{ user.avatar.url}}" alt="Avatar" style="max-width: 200px;">
    {% else %}
        <p>No avatar uploaded.</p>
    {% endif %}
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Joined on:</strong> {{ user.date_joined|date:"F j, Y" }}</p>

    <hr>
    <p><a href="{% url 'update_user_info' %}">Update User Information</a></p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    </article>
{% endblock %}
